pydub
python-vlc
deebot-t8
deebot-t8[cli]
flask
flask-sock
jinja2
whisper
pinyin
pykakasi
gTTS
lingua-language-detector
language_data
langcodes
unidecode
git+https://github.com/klattimer/LGWebOSRemote.git
