<!doctype html>
<html>
<head><title>{{title}}</title>
<style>
.overlay {
  position: absolute;
  /*  object-fit is not supported on IE  */
  object-fit: cover;
  opacity:0.7;
  z-index: 10;
  color:gold;
  font-weight: bold;
  line-height: 1;
  cursor: pointer;
}
:root { --edge-pad: 100px; }
.hoverShow { opacity: 0; }
.hoverShow:hover { opacity: 1; }
video {
  width: 100%;
  height: 100%;
  position: fixed;
  object-fit: contain;
}
h1 {
  background-color: #04AA6D;
  color: white;
  margin: 0px;
  padding: 0px;
  font-size: larger;
  font-weight: bolder;
}
.playmenu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  object-fit: cover;
  z-index: 20;
  display: none;
  opacity:0.9;
  width: 50%; /* Set a width if you like */
  max-height: 80%;
  vertical-align: middle;
  overflow-y: auto;
}
.playmenu a {
  background-color: #222; /* Grey background color */
  color: #fff; /* Black text color */
  display: block; /* Make the links appear below each other */
  cursor: pointer;
  padding: 4px;
  text-decoration: none; /* Remove underline from links */
}
.playmenu a:hover { background-color: #ccc; }
.larger { font-size: larger; }
.vsb { margin-top: 8px; }
</style>
</head>
<body style="background-color:black; overflow: hidden;">
 <video id='video0' autoplay controls onended="ws.send('next')" onclick="clickvid(event)"
    onseeked="markCounter=0" ontouchmove="timerRst()" onmousemove="timerRst()">
 </video>
 <div id="ovl">
  <div class="overlay" style="left:0px; top:calc(50% - 50px); transform: translateY(-50%);" onclick="ws.send('prev')">◀</div>
  <div class="overlay" style="right:0px; top:calc(50% - 50px); transform: translateY(-50%);" onclick="ws.send('next')">▶</div>
  <div class="overlay" id="menuIcon0" style="left:50%; top:0px; transform: translateX(-50%);" onclick="toggle_menu(1)" title="当前播放列表">▤</div>
 </div>
 <div id="ovl2">
  <div class="overlay" style="left:50%; top:calc(50% - 50px); transform: translate(-50%, -50%);" onclick="v.currentTime=0;v.play()" title="重头开始播放">↻</div>
  <div class="overlay" id="menuIcon1" style="left:50%; bottom:var(--edge-pad); transform: translateX(-50%);" onclick="toggle_menu(2)" title="浏览文件夹">📁</div>
 </div>
 <div class="overlay hoverShow" style="left:0px; top:16px;" >
  <span id="recButton" title="播放指定文件（本地录音）" onclick="play_recorded()">🎙</span>
  <span title="播放指定文件（树莓派录音）" onclick="ws.send('play_spoken_indir')">🎤</span>
 </div>
 <div class="overlay hoverShow" style="right:0px; top:16px;" onclick="ws.send('report_title')" title="播报当前歌曲名称">🗣</div>
 <div class="overlay" style="left:0px; bottom:var(--edge-pad);">
  <span class="hoverShow" title="复制视频链接然后扫码下载播放" onclick="showQR()">📱</span>
  <span id="QRcontainer" style="background-color: #fff; opacity: 0; display: inline-flex;"></span>
 </div>
 <div class="overlay hoverShow" style="right:0px; bottom:var(--edge-pad);" onclick="toggle_hide([T2Sframe,S2Tframe])" title="显示详情（语音识别及语音合成）">💬</div>
 <div id="menu0" class="playmenu" style="font-size: xx-large; font-weight: bold; text-align: center;">
  <h1>{{listname}}</h1>
  {% for name in playlist %}
  <a id="a{{loop.index0}}" onclick="ws.send('goto_idx {{loop.index0}}')">{{name}}</a>
  {% endfor %}
 </div>
 <div id="menu1" class="playmenu" style="font-size: xx-large; font-weight: bold; top: 32px; text-align: left"></div>
 <div id="S2Tframe" style="background-color: #04AA6D; position: absolute; opacity:0.8; font-size: x-large; font-weight: bold; top: 30%; left:5%; width:20%;">
  <h1>【语音识别详情】</h1>
  <h1>语种：<span id="S2Tlang">{{S2T_lang}}</span></h1>
  <h1 class="vsb">识别文本：<br><span id="S2Ttext">{{S2T_text}}</span></h1>
  <h1 class="vsb">匹配文件名：<br><span id="S2Tmatch">{{S2T_match}}</span></h1>
 </div>
 <div id="T2Sframe" style="background-color: #04AA6D; position: absolute; opacity:0.8; font-size: x-large; font-weight: bold; top: 30%; left:75%; width:20%;">
  <h1>【语音合成详情】</h1>
  <h1>语种：<span id="T2Slang">{{T2S_lang}}</span></h1>
  <h1 class="vsb">文本：<br><span id="T2Stext">{{T2S_text}}</span></h1>
 </div>

<script>
const pass = () => {};
function getById(id_str) { return document.getElementById(id_str); }
var idleTime = 0;
var menuMode = 0;
var ws_func = 0;
var passCounter = 0, markCounter = 0;
var playlist = {{playlist|tojson}};
var dir_list;
var NN = playlist.length;
var cur_dir = "", cur_file;
var v = getById("video0");
var recorder = null;
var audios, start_time, recorder_timeout;

// Set global object handles
for(var vname of ['ovl', 'ovl2', 'menu0', 'menu1', 'S2Tframe', 'T2Sframe', 'S2Tlang', 'T2Slang', 'S2Ttext', 'T2Stext', 'S2Tmatch', 'recButton', 'QRcontainer'])
  window.eval(`var ${vname} = getById("${vname}")`);

function create_wsock(){
  var ws = new WebSocket((window.location.href.startsWith('https:')?'wss://':'ws://') + location.host + '/ws_init');
  ws.addEventListener('message', ev => { ws_func==1?showDir(ev.data):(ws_func==2?updateList(ev.data):setTimeout(ev.data, 1)); });
  return ws;
}
var ws = create_wsock();

function setvsrc(url, ii=0){
  v.src = url;
  cur_file = url.indexOf('#')<0 ? url.substr(url.indexOf('files/')+6) : url.substring(url.indexOf('files/')+6, url.indexOf('#'));
  cur_dir = url.substring(url.indexOf('files/')+6, url.lastIndexOf('/'));
  var ttl = url.substr(url.indexOf('/',1)+1);
  document.title = ttl.substring(0, ttl.lastIndexOf('.'));
  ovl.style.display = NN>1?"":"none";
  v.play();
  passCounter = markCounter = 0;
  setvidx(ii);
  if(url.indexOf('#t=')>0){ // old TV browser does not support play from position in URL
    var tm = Number(url.substr(url.indexOf('#t=')+3));
    while(!('currentTime' in v));
    setTimeout(`if(v.currentTime<${tm})v.currentTime=${tm}`, 2000);
  }
}
function showQR(){
  QRcontainer.style.opacity = 1-QRcontainer.style.opacity;
  if(QRcontainer.style.opacity && QRcontainer.innerHTML==""){
    const req = new XMLHttpRequest();
    req.open("GET", '/QR', true);
    req.onload = (ev)=>{
      QRcontainer.width = QRcontainer.height = `${scr_size/8}px`;
      QRcontainer.innerHTML = ev.target.responseText;
    };
    req.send();
  }
}
function setvidx(ii, L='a'){
  for(var i=0; getById(L+i)!=null; i++)
    getById(L+i).style.color = (i==ii?"#1f0":"#eee");
}
function play_audio(fn, reply=false){
  var aud = new Audio(fn);
  if(reply)
    aud.onended = ()=>{ws.send('audio_ended')};
  aud.play();
}
function play_recorded(){
  if(recorder.state=='inactive'){
    v.pause();
    audios = [];
    var aud = new Audio('/voice/speak_file_click.mp3');
    aud.onended = ()=>{
      recorder.start();
      recButton.style.opacity=1;
      recButton.style.color='red';
      recButton.style.backgroundColor='green';
      start_time=Date.now();
      recorder_timeout = setTimeout("recorder.stop()", 31000);
    };
    aud.play();
  }else{
    recorder.stop();
    clearTimeout(recorder_timeout);
  }
}
function onRecStop(){
  v.play();
  recButton.style.opacity='';
  recButton.style.color='';
  recButton.style.backgroundColor='';
  if(Date.now()-start_time>30000) return;
  var blob = new Blob(audios, { type: "audio/webm" });
  const req = new XMLHttpRequest();
  req.open("POST", '/play_recorded', true);
  req.send(blob);
}
function lsdir(tgtDir=null){
  if(tgtDir!=null) cur_dir=tgtDir.replace(/\/*$/, '');
  ws_func = 1;
  ws.send('lsdir '+cur_dir);
}
function toggle_menu(mode){
  menuMode = (menuMode==mode?0:mode);
  menu0.style.display = menuMode==1?"block":"none";
  menu1.style.display = menuMode==2?"block":"none";
  getById('menuIcon0').textContent = menuMode==1?"▿":"▤";
  getById('menuIcon1').textContent = menuMode==2?"▵":"📁";
  if(menuMode==2){
    if(menu1.innerHTML=='') lsdir();
    else{
      var ii = -1, i = 0;
      for(; getById('b'+i)!=null; i++)
        if(cur_file == (cur_dir?(cur_dir+'/'+getById('b'+i).text):getById('b'+i).text)) ii = i;
      if(ii>=0) setvidx(ii, 'b');
    }
  }
}
function getCookie(cookieName) {
  var name = cookieName + "=";
  var decodedCookie = decodeURIComponent(document.cookie);
  var ca = decodedCookie.split(';');
  for (var i = 0; i < ca.length; i++) {
    var c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) {
      return c.substring(name.length, c.length);
    }
  }
  return "";
}
function toggle_hide(objs){
  var disp = objs[0].style.display=='none'?'block':'none';
  for(var obj of objs) obj.style.display=disp;
  document.cookie = `infoDisp=${disp}; path=/`;
}
function clickvid(e){
  e.preventDefault();
  if(menuMode) toggle_menu(0);
  else v.paused?v.play():v.pause();
}
function seturl(url){ window.location.href = url; }
function timerInc() {
  // keep websocket connection
  if(ws.readyState>1) ws = create_wsock();

  // show overlay upon mouse move
  ovl.style.display = ((idleTime>1||NN<=1)&&!menuMode)?"none":"";
  ovl2.style.display = (idleTime>1&&!menuMode)?"none":"";
  document.body.style.overflow = idleTime>1?"hidden":"";
  idleTime += 1;
  markCounter += (1-v.paused);
  passCounter += v.paused;
  if(markCounter>60){
    markCounter = 0;
    ws.send(`mark ${v.currentTime}`);
  }else if(passCounter>60){
    passCounter = 0;
    ws.send('pass');
  }
}
function timerRst() {
  ovl.style.display = NN>1?"":"none";
  ovl2.style.display = "";
  document.body.style.overflow = "";
  idleTime = 0;
}
function gotoFile(i){
  ws_func = 2;
  ws.send("goto_file "+dir_list[i]);
  setvidx(i, 'b');
}
function showDir(data){
  ws_func = 0;
  dir_list = [];
  menu1.innerHTML = "<h1>Folder</h1>";
  if(cur_dir){
    var parent_dir = cur_dir.indexOf('/')>=0 ? cur_dir.split('/').slice(0,-1).join('/') : "";
    menu1.innerHTML += `<a onclick="lsdir('${parent_dir}')">../</a>`;
  }
  var i=0;
  for(var fn of JSON.parse(data)){
    fulln = cur_dir?(cur_dir+'/'+fn):fn;
    if(fn.endsWith('/'))
      menu1.innerHTML += `<a onclick="lsdir('${fulln}')">${fn}</a>`;
    else{
      menu1.innerHTML += `<a id="b${i}" onclick="gotoFile('${i}')" style="color:${fulln.endsWith(cur_file)?"#1f0":"#eee"}">${fn}</a>`;
      dir_list.push(fulln);
      i+=1;
    }
  }
}
function updateList(arr){
  ws_func = 0;
  playlist = JSON.parse(arr);
  NN = playlist.length;
  menu0.innerHTML = `<h1>${cur_dir}</h1>`;
  for(var [i,fn] of playlist.entries())
    menu0.innerHTML += `<a id="a${i}" onclick="ws.send('goto_idx ${i}')">${fn}</a>`;
}
setvsrc("{{file_path|safe}}", {{cur_ii}});
var edge_pad = Number(getComputedStyle(document.documentElement).getPropertyValue('--edge-pad').slice(0,-2));
var scr_size = Math.max(screen.width, screen.height);
document.styleSheets[0].cssRules[0].style.fontSize=`${scr_size/16}px`;
menu0.style.top=`${scr_size/16}px`;
menu1.style.bottom=`${scr_size/16+edge_pad}px`;
setInterval(timerInc, 2000);
if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
  navigator.mediaDevices.getUserMedia({audio: true,},)
    .then((stream) => {
      recorder = new MediaRecorder(stream, {mimeType: 'audio/webm'}); recButton.style.display='inline';
      recorder.ondataavailable = (e) => { audios.push(e.data); if(recorder.state=='inactive') onRecStop(); };})
    .catch((err) => { console.error(`getUserMedia error: ${err}`); recButton.style.display='none';
  });
} else {
  console.log("getUserMedia not supported on your browser!"); recButton.style.display='none';
}
T2Sframe.style.display = S2Tframe.style.display = getCookie('infoDisp');
</script>
</body>
</html>